---
interface Props {
  id?: string;
  img?: string;
  success?: boolean;
  details?: string | null;
  flightNumber?: number;
  title?: string;
}

const { success, flightNumber, img, id, details, title } = Astro.props;
const successText = success ? "Exitoso" : "Fallido";
---

<a
  href={`/launch/${id}`}
  class="max-w-[60ch] relative cursor-default overflow-hidden border border-blue-500 rounded-lg shadow-md hover:scale-105 hover:bg-gray-700 hover:border-blue-300 transition flex flex-col"
>
  <picture class="flex justify-center p-4">
    <img
      src={img}
      alt={`${title}`}
      transition:name={`img-${title}`}
      class="rounded-lg mb-5"
      id={`img-${title}`}
    />
  </picture>
  <header class="p-4 flex-grow">
    <span
      class:list={[
        "text-xs font-semibold mr-2 px-2.5 py-0.5 rounded",
        {
          "bg-green-400 text-green-900": success,
          "bg-red-400 text-red-900": !success,
        },
      ]}>{successText}</span
    >
    <h2 class="my-2 text-2xl truncate font-bold tracking-tight text-white">
      <span transition:name={`text-${title}`}>{title}</span>
    </h2>
    <p class="bg-4 font-light text-gray-400">
      {details ? null : "Sin detalles"}
      {
        details && details?.length > 100
          ? details.slice(0, 100) + "..."
          : details
      }
    </p>
  </header>
</a>
